<div class="center hero-unit">
  <h1>GameOn LAN Party</h1>

  <h2>
    Home Page for the GameOn LAN Party App
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>