<% provide(:title, 'Sponsors') %>
<div class="center hero-unit" style="padding-bottom: 15px;">
  <h1>GameOn Sponsors</h1>
</div>

<div class="row">
	<div class="col-xs-6 col-md-3">
	  <%= link_to image_tag("intel-logo.jpg", alt: "intel", class: "thumbnail"), '#' %>
    </div>
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img data-src="holder.js/100%x180" alt="Generic placeholder thumbnail">
      </a>
    </div>
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img data-src="holder.js/100%x180" alt="Generic placeholder thumbnail">
      </a>
    </div>
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img data-src="holder.js/100%x180" alt="Generic placeholder thumbnail">
      </a>
    </div>
</div>
